$tcc_orange: #005da8;
$tcc-orange: $tcc_orange;
$tcc-gray: #00b1e6;
$tcc-gray-light: lighten($tcc-gray, 20%);
$tcc-gray-lighter: lighten($tcc-gray, 40%);
$tcc-gray-lightest: lighten($tcc-gray, 78%);
$tcc-gradient-orange-start: lighten($tcc_orange, 2%);
$tcc-gradient-orange-end: darken($tcc_orange, 8%);
$tcc-code-bg-1: desaturate($tcc-gray-lightest, 50%);
$tcc-code-bg-2: darken($tcc-code-bg-1, 5%);
$tcc-code-bg-3: darken($tcc-code-bg-1, 20%);

$title-border-color: #4a7ebb;

// ****************************************************************************************************
// general
// ****************************************************************************************************

$font-size-base: 33px;
$table-bg-accent: $tcc-code-bg-1;

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap//variables";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/normalize";
//@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/tables";

// Utility classes
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/modals";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

$theCodeCampus_orange: $tcc_orange;
$w11k-cornerRibbon-distance: 5em;
$w11k-cornerRibbon-background-color: linear-gradient(to left, $tcc-gray, lighten($tcc-gray, 7%));
$w11k-cornerRibbon-border-color: $tcc-gradient-orange-end;

$w11k-prettyPrint-line-color: $tcc-code-bg-1;
$w11k-prettyPrint-line-color-alternate: $tcc-code-bg-2;
$w11k-prettyPrint-line-color-highlight: $tcc-code-bg-3;

@import "w11k-slides/dist/variables";
@import "w11k-slides/dist/slides/mixins";
@import "w11k-slides/dist/corner-ribbon/corner-ribbon";

@import "boxed-print";
@import "boxed";
@import "overlay";

// ****************************************************************************************************
// slides content
// ****************************************************************************************************

.tcc-2016.it-tage-2016 {
  .slides > .slide-container > div > .slide {

    * {
      font-family: "Calibri";
    }

    &.title {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      overflow: hidden;

      background: white;

      .top {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        vertical-align: middle;

        width: 100%;

        .start {
          img { height: 3.2em; }
          width: 33.33%;
        }

        .end {
          width: 33.33%;
          text-align: right;
          img {
            height: 1.8em;
          }
        }
        color: $tcc_orange;
        border-bottom: 0.16em solid $title-border-color;
        padding: 0.8em;
      }

      .center {
        flex-grow: 1;

        display: flex;
        align-items: center;
        flex-direction: column;

        .start {
          flex-grow: 30;
        }

        .content {
          flex-grow: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          vertical-align: middle;
          text-align: center;

          img.name {
            height: 1.6em;
            margin-bottom: 1.6em;
          }

          img.topic {
            height: 2.3em;
          }
        }

        .end {
          flex-grow: 70;
        }
      }

      .bottom {
        color: $tcc_orange;
        border-top: 0.16em solid $title-border-color;
        padding: 2em 0.8em 0.8em 0.8em;
        text-align: center;
      }
    }

  }
}
